<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bit Battles</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/editor.js" defer></script>
    <script src="/static/js/simulation.js"></script>
    <script src="/static/js/gameSocket.js"></script>
    <script src="/static/js/basics.js"></script>
    <script src="/static/js/queue.js"></script>
    <script src="/static/js/game.js"></script>
    <script>
        battle = {{ battle|tojson }};
        const player = {{ player|tojson }};
    </script>

    <link rel="stylesheet" type="text/css" href="/static/css/game.css">
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">
</head>
<body>
    <div class="stage" id="queue">
        <div class="queue">
            <h2>Awaiting start</h2>

            <p>
                Share this battle code with your players: <code>{{ battle.id }}</code>
            </p>

            <ul id="queue-player-list"></ul>

            <div class="button">
                {% if player.id == battle.owner_id %}
                    <button onclick="startBattle()">Start battle</button>
                {% endif %}

                <button onclick="leaveBattle()">Leave</button>
            </div>
        </div>
    </div>

    <div class="stage" id="battle">
        <div class="toolbar">
            <button onclick="debugMode()">🖐</button>
            <button onclick="editMode()">🔧</button>
            <button class="gate" onclick="toggleSelectGate('AND')" id="AND-btn">AND</button>
            <button class="gate" onclick="toggleSelectGate('OR')" id="OR-btn">OR</button>
            <button class="gate" onclick="toggleSelectGate('NOT')" id="NOT-btn">NOT</button>
            <button class="gate" onclick="toggleSelectGate('XOR')" id="XOR-btn">XOR</button>
            <button onclick="test(battle.truthtable, false)">Test</button>
            <button onclick="submit()">Submit</button>
            <button id="timer">00:00</button>
        </div>

        <div class="truthtable" id="truthtable">
            <div class="test" id="test-column">
                <div class="title">Pass</div>
            </div>
        </div>
        <div id="alerts"></div>

        <canvas id="game"></canvas>

        {% include "components/instructions.html" %}
    </div>

    <div class="stage results" id="results">
        <div class="result-contents" id="results-player-list">
            {% if player.id == battle.owner_id %}
                <div class="new-game">
                    <button onclick="restartGame()">New round</button>
                </div>
            {% endif %}
            <div id="battle-0"></div>
        </div>
    </div>
</body>
</html>