{% extends "bases/app_base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/new_battle.css">

    <div class="new-battle">
        <h1>New battle</h1>

        <form method="POST">
            <div class="setting">
                <b>Amount of inputs</b>
                <select name="inputs">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            
            <div class="setting">
                <b>Amount of outputs</b>
                <select name="outputs">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="setting">
                <b>OR, AND, NOT</b>
                <input type="checkbox" checked disabled>
            </div>
            <div class="setting">
                <b>XOR</b>
                <input type="checkbox" name="XOR">
            </div>
            <div class="setting">
                <b>Invite only</b>
                <input type="checkbox" name="private">
            </div>
            
            <div class="button">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock %}