:root {
    --bg-pri: #f1f1f1;
    --bg-sec: #b9b9b9;

    --success: #1cba2e;
    --success-acc: #1d5723;
    --passed: #f1b324;
    --failed: #f94747;
    --failed-acc: #b92828;

    --font-family: "Geist Mono"
}

/* latin-ext */
@font-face {
    font-family: 'Geist Mono';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/geistmono/v1/or3nQ6H-1_WfwkMZI_qYFrkdmgPn.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Geist Mono';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/geistmono/v1/or3nQ6H-1_WfwkMZI_qYFrcdmg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--bg-pri);
    overflow-x: hidden;
    font-family: var(--font-family);
    font-size: 16px;
}

button, input {
    font-family: var(--font-family);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fff;
    transition: .3s;
    transition: .3s;
    font-size: 16px;
    outline: none;
}

input:hover,
button:not(:disabled):hover {
    background-color: var(--bg-sec);
}

button:disabled {
    cursor: not-allowed;
}

input:focus {
    border: 1px solid var(--bg-sec);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    gap: 25px;
}

nav a {
    text-decoration: none;
    transition: .3s;
    color: var(--bg-sec);
}

nav a.active,
nav a:hover {
    color: black;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    border-radius: 100%;
}

code {
    background-color: var(--bg-sec);
    padding: 2px 6px;
    font-size: 14px;
    border-radius: 5px;
}