:root {
    --bg-pri: #f1f1f1;
    --bg-sec: #b9b9b9;

    --font-family: "Geist Mono"
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--bg-pri);
    overflow-x: hidden;
    font-family: var(--font-family);
}

button, input {
    font-family: var(--font-family);
    padding: 5px 10px;
    cursor: pointer;
}

nav {
    text-align: center;
    margin: 25px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    border-radius: 100%;
}