.challenges-container {
    max-width: 1000px;
    margin: 100px auto;
}

.challenges-selector {
    display: flex;
    gap: 25px;
}
.challenges-selector button {
    flex: 1;
}

.challenges {
    display: none;
}
.challenges.active {
    display: block;
}

.challenge {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.challenge a {
    flex: 1;
    cursor: pointer;
}
.challenge a:hover {
    text-decoration: underline;
}

.challenge b.very-easy {
    color: var(--success-acc);
}
.challenge b.easy {
    color: var(--success);
}
.challenge b.yes {
    color: var(--passed);
}
.challenge b.hard {
    color: var(--failed);
}
.challenge b.very-hard {
    color: var(--failed-acc);
}

.challenge button {
    margin: 0px auto;
}

div.truthtable {
    right: 25px;
    top: 25px;
    display: inline-flex;
    padding: 10px;
    border: 1px solid var(--bg-sec);
    background-color: var(--bg-pri);
    border-radius: 10px;
}

div.inputs {
    display: flex;
}

div.test {
    margin-right: 5px;
}
div.test .cell {
    color: var(--bg-sec);
}
div.test .cell.failed {
    color: var(--failed);
}
div.test .cell.passed {
    color: var(--success);
}

div.outputs {
    display: flex;
    margin-left: 5px;
}
.truthtable div.title {
    text-align: center;
    border-bottom: 3px solid black;
}
div.cell {
    padding: 2.5px 10px;
    color: white;
}
div.cell.off {
    background-color: #1d5723;
}
div.cell.on {
    background-color: var(--success);
}

div.outputs .cell {
    cursor: pointer;
}

div.add-column {
    margin: 0px 5px;
}