.dailies {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.leaderboard .entry .position-1 {
    color: #ceb04e;
}
.leaderboard .entry .position-2 {
    color: #c0c0c0;
}
.leaderboard .entry .position-3 {
    color: #aa8e5e;
}

.leaderboard .entry {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
    text-align: left;
    cursor: pointer;
}

.leaderboard .entry h4 {
    margin: 0px;
}

.leaderboard .entry i {
    flex: 1;
    font-size: 14px;
    text-align: center;
    color: var(--bg-pri);
    transition: .1s;
}
.leaderboard .entry:hover i {
    color: black;
}

.dailies button {
    margin-top: 25px;
}