{% extends "bases/app_base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">

    <div class="user-contents">
        <div class="user">
            <img src="https://api.dicebear.com/9.x/shapes/svg?seed={{ user.username }}&backgroundColor=b6e3f4&size=64" alt="{{ user.username }}'s avatar">
            <div>
                <h1>{{ user.username }}</h1>
                <b>Daily streak: {{ streak }}</b>
            </div>
        </div>
    
        <div class="battle-history">
            {% for statistic, values in statistics.items() %}
                <details>
                    <summary><h4>{{ statistic }}</h4></summary>
                    {% for battle in values %}  
                        <div class="battle">
                            <div>
                                {% if battle.winner %}
                                    [ <span class="won">v</span> ]
                                    You <b>won</b> this battle.
                                {% elif not battle.passed %}
                                    [ <span class="failed">x</span> ]
                                    You <b>failed</b> this battle.
                                {% else %}
                                    [ <span class="passed">•</span> ]
                                    You <b>lost</b> this battle.
                                {% endif %}
                            </div>
                            <i>{{ battle.relative_timestamp }}</i>
                        </div>
                    {% endfor %}
                </details>
            {% endfor %}
        </div>
    </div>
{% endblock %}