<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Logisim Battles</title>

    <script src="/static/js/editor.js" defer></script>
    <script src="/static/js/simulation.js"></script>
    <script src="/static/js/game.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/game.css">
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">
    <script>
        const battle = {{ battle|tojson }};
        const player = {{ player|tojson }};
    </script>
</head>
<body>
    <div class="toolbar">
        <button onclick="editMode()">Edit</button>
        <button onclick="toggleSelectGate('AND')">AND</button>
        <button onclick="toggleSelectGate('OR')">OR</button>
        <button onclick="toggleSelectGate('NOT')">NOT</button>
        <button onclick="simulate()">Simulate</button>
        <button onclick="submit()">Submit</button>
        <span id="timer">00:00</span>
    </div>

    <div class="truthtable" id="truthtable"></div>

    <canvas id="game"></canvas>
</body>
</html>