<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Logisim Battles</title>

    <script src="/static/js/game.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/game.css">
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">
</head>
<body>
    <div class="toolbar">
        <button onclick="toggleSelectGate('AND')">AND</button>
        <button onclick="toggleSelectGate('OR')">OR</button>
        <button onclick="toggleSelectGate('NOT')">NOT</button>
        <button onclick="toggleSelectGate('NOT')">WIRE</button>
    </div>
    <canvas id="game"></canvas>
</body>
</html>