{% extends "bases/app_base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/new_battle.css">

    <form method="POST">
        <div class="setting">
            <b>Official</b>
            <input type="checkbox" name="official"{% if challenge.official%} checked{% endif %}>
        </div>
        
        <div class="setting">
            <b>Rating</b>
            <select name="rating">
                <option value="1"{% if challenge.rating == 1%} selected{% endif %}>1</option>
                <option value="2"{% if challenge.rating == 2%} selected{% endif %}>2</option>
                <option value="3"{% if challenge.rating == 3%} selected{% endif %}>3</option>
                <option value="4"{% if challenge.rating == 4%} selected{% endif %}>4</option>
                <option value="5"{% if challenge.rating == 5%} selected{% endif %}>5</option>
            </select>
        </div>

        <button type="submit">Save</button>
    </form>
{% endblock %}  