{% extends "bases/app_base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/challenges.css">
    <script src="/static/js/editChallenge.js"></script>
    <script>
        const challengeData = {{ challenge|tojson }};
    </script>

    <form method="POST">
        <input type="hidden" name="input-data" id="inputData" value="{{ challenge.inputs }}">
        <input type="hidden" name="output-data" id="outputData" value="">

        <div class="truthtable" id="truthtable">
            <div class="add-column">
                <button type="button" onclick="increaseInputs()">+</button>
            </div>
            <div class="inputs" id="inputs">
                <div id="column-A">
                    <div class="title">A</div>
                    <div class="cell off">0</div>
                    <div class="cell on">1</div>
                </div>
            </div>
            <div class="outputs" id="outputs">
                <div id="column-Z">
                    <div class="title">Z</div>
                    <div class="cell off" onclick="toggleValue(this)">0</div>
                    <div class="cell off" onclick="toggleValue(this)">0</div>
                </div>
            </div>
            <div class="add-column">
                <button type="button" onclick="increaseOutputs()">+</button>
            </div>
        </div>
        
        <div class="setting">
            <b>AND</b>
            <input type="number" name="and"{% if challenge.and_gates %} value="{{ challenge.and_gates }}"{% endif %}>
        </div>
        <div class="setting">
            <b>NOT</b>
            <input type="number" name="not"{% if challenge.not_gates %} value="{{ challenge.not_gates }}"{% endif %}>
        </div>
        <div class="setting">
            <b>OR</b>
            <input type="number" name="or"{% if challenge.or_gates %} value="{{ challenge.or_gates }}"{% endif %}>
        </div>
        <div class="setting">
            <b>XOR</b>
            <input type="number" name="xor"{% if challenge.xor_gates %} value="{{ challenge.xor_gates }}"{% endif %}>
        </div>

        <textarea name="description" placeholder="Text after completion">{% if challenge.description %}{{ challenge.description }}{% endif %}</textarea>
        <button type="submit">Save</button>
    </form>
{% endblock %}