<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Logisim Battles</title>
</head>
<body>
    <h1>Login</h1>

    <form method="POST">
        <h3>Username</h3>
        <input type="text" name="user" placeholder="Username">

        <h3>Password</h3>
        <input type="password" name="password" placeholder="Password...">

        <button type="submit">Login</button>
    </form>

    No account yet? <a href="/auth/register">Register!</a>
</body>
</html>