<div class="challenge">  
    {% if challenge.rating <= 1 %}
        <b class="difficulty very-easy">[ Very easy ]</b>
    {% elif challenge.rating <= 2 %}
        <b class="difficulty easy">[ Easy ]</b>
    {% elif challenge.rating <= 2 %}
        <b class="difficulty yes">[ Yes ]</b>
    {% elif challenge.rating <= 2 %}
        <b class="difficulty hard">[ Hard ]</b>
    {% else %}
        <b class="difficulty very-hard">[ Very hard ]</b>
    {% endif %}

    <a onclick="window.location.href='/app/challenge/{{ challenge.id }}'">{{ challenge.name }}</a>

    {% if challenge.and_gates or challenge.or_gates or challenge.not_gates or challenge.xor_gates %}
        (Limited gates)
    {% endif %}

    {% if not challenge.editing %}
        <b title="{{ challenge.users_finished }} completed this challenge">[ 👩‍🔧 {{ challenge.users_finished }} ]</b>
    {% endif %}

    {% if not challenge.editing %}
        {% if challenge.completed %}
            <b class="status completed">[ Completed ]</b>
        {% else %}
            <b class="status">[ Not completed ]</b>
        {% endif %}
    {% endif %}

    {% if current_user.moderator %}
        <button onclick="window.location.href='/app/challenge/{{ challenge.id }}/moderation'">MOD</button>
    {% endif %}
    {% if challenge.editing %}
        <button onclick="window.location.href='/app/challenge/{{ challenge.id }}/edit'">EDIT</button>
    {% endif %}
</div>